# Build and Distribution artifacts
build/
dist/
dist-ssr/
*.egg-info/
*.egg
.vite/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.venv/
.env/

# Environment variables
.env
.env.local
.env.*.local

# macOS system files
.DS_Store

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Testing
coverage/

# Ignore output files
/*.csv
/*.json

# Allow hosted data
!public/bc_mlas.csv
!public/bc_mlas.json

# Ignore compiled frontend widget
public/district-lookup.js
