# Build and Distribution artifacts
build/
dist/
*.egg-info/
*.egg

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.venv/
.env/

# macOS system files
.DS_Store

# Ignore output files
/*.csv
/*.json

# Allow hosted data
!docs/bc_mlas.csv
!docs/bc_mlas.json
